.code-explorer {
  border: 1px solid black;
  overflow-y: scroll;
  height: 100vh;
}

.code-explorer-line {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  align-items: center;
  justify-content: flex-start;
}
.code-explorer-line div {
  padding-left: 1vw;
}

.code-explorer-item {
  margin-left: 2vw;
  background-color: white;
}
.code-explorer-item.current {
  background-color: lime;
}

.breakpoint {
  fill: white;
  stroke: black;
}
.breakpoint.breakpoint-enabled {
  fill: red;
}

